@import '../settings/breakpoints';
@import '../settings/mixins';

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--universal-space);
}

.button {
  @include button-reset;

  padding: var(--universal-space) var(--universal-space-2);
  color: var(--c-white);
  text-transform: capitalize;
  background: var(--c-blue);
  box-shadow: var(--box-shadow-1);

  &--sub {
    background: var(--c-off-black);
  }

  &--action {
    background: var(--c-green);
  }

  &--remove {
    background: var(--c-red);
  }

  &:hover {
    color: var(--c-white);
    background: var(--c-black);
  }

  &[disabled] {
    border: 1px dotted var(--c-black);

    &:hover {
      cursor: not-allowed;
    }
  }
}
