@import '../settings/breakpoints';
@import '../settings/mixins';

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--universal-space);
}

.button {
  @include button-reset;
  padding: var(--universal-space) var(--universal-space-2);
  background: var(--c-blue);
  color: var(--c-white);
  box-shadow: var(--box-shadow-1);
  text-transform: capitalize;

  &--sub {
    background: var(--c-off-black);
  }

  &--action {
    background: var(--c-green);
  }

  &--remove {
    background: var(--c-red);
  }

  &:hover {
    background: var(--c-black);
    color: var(--c-white);
  }

  &[disabled] {
    border: 1px dotted var(--c-black);
  }
}
