.dmn-admin {
  &__card {
    background: var(--c-white);
    border: 1px solid var(--c-off-white);
    border-radius: var(--border-radius);
    padding: var(--universal-space-2);
    max-width: unset;
  }
}
