@import '../settings/breakpoints';

.dmn-admin {
  &__help {
    opacity: 0.7;
    font-size: 13px;
  }

  &__grid {
    display: grid;
    gap: var(--universal-space-2);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include large-screen-min {
      grid-template-columns:  1fr 30%;
    }
    @include x-large-screen-min {
      gap: var(--universal-space-3);
    }
    @include xx-large-screen-min {
      gap: var(--universal-space-4);
    }
  }


  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: var(--universal-space-2);
  }

  &__card {
    width: 100%;
    background: var(--c-white);
    border: 1px solid var(--c-off-white);
    border-radius: var(--border-radius);
    padding: var(--universal-space) var(--universal-space-2) var(--universal-space-2) var(--universal-space-2);
    max-width: unset;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--universal-space-2);
    padding: var(--universal-space) 0;
    background: var(--c-white);
    position: sticky;
    top: var(--universal-space-2);

    &__inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--universal-space-2);

    }

    &__dirty {
      color: var(--c-red);
      margin: 0;
    }

    &__ok {
      color: var(--c-green);
      margin: 0;
    }
  }

  &__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--universal-space);
    margin-top: var(--universal-space-2);
  }
}
