select,
input:not([type='checkbox']), input[type='text'], textarea {
  min-width: 100%;
  height: 50px;
  padding: 0 var(--universal-space);
  color: var(--c-black);
  border: 1px solid var(--c-off-black);

  &:disabled {
    color: var(--c-off-black);
    background-color: var(--c-off-white);
    border: 1px dotted var(--c-black);

    &:hover {
      cursor: not-allowed;
    }
  }
}


textarea {
  display: block;
  min-height: 100px;
  padding: var(--universal-space);
}

label {
  display: block;
  color: var(--c-off-black);

  > span {
    display: block;
    margin-bottom: var(--universal-space-half);
  }
}

form.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--universal-space);

  > label {
    flex: 1 1 100%;
    min-width: 250px;
  }
}

code {
  display: block;
  padding: var(--universal-space);
  margin-top: var(--universal-space);
  border: 1px solid var(--c-off-white);
}
