@import '../settings/breakpoints';

.dmn-admin {
  &__grid {
    display: grid;
    gap: var(--universal-space-2);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include large-screen-min {
      grid-template-columns:  1fr 30%;
    }
    @include x-large-screen-min {
      gap: var(--universal-space-3);
    }
    @include xx-large-screen-min {
      gap: var(--universal-space-4);
    }
  }

 
}

