.MuiFormControlLabel-root {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  > span {
    margin: 0;
  }

  .MuiSwitch-track {
    display: block;
  }
}

.MuiSwitch-root {
  width: var(--universal-space-4);
}

.MuiSwitch-switchBase.Mui-checked {
  color: var(--c-blue);
}

.MuiTabs-indicator {
  background-color: var(--c-blue);
}

.MuiTab-root {
  color: var(--c-black);

  &.Mui-selected {
    color: var(--c-blue);
  }
}
