@mixin button-reset {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: 1;
  color: inherit;
  text-align: center;
  appearance: none;
  appearance: none;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none !important;
}

@mixin button-settings {
  @include button-reset;

  width: 100%;
  padding: var(--universal-space) var(--universal-space-2);
  color: var(--c-white);
  text-transform: capitalize;
  background: var(--c-theme-primary);
  box-shadow: var(--box-shadow-1);

  &:hover {
    color: var(--c-black);
    background: var(--c-white);
  }

  &[disabled] {
    color: var(--c-black);
    pointer-events: none;
    background: var(--c-white);
    opacity: 0.3;

    &:hover {
      cursor: not-allowed;
      background: var(--c-green);
    }
  }
}

@mixin aspect-ratio-1-1 {
  @include aspect-ratio-settings;

  padding-top: 100%;
}

@mixin aspect-ratio-16-9 {
  @include aspect-ratio-settings;

  padding-top: 56.25%;
}

@mixin aspect-ratio-4-3 {
  @include aspect-ratio-settings;

  padding-top: 75%;
}

@mixin aspect-ratio-3-2 {
  @include aspect-ratio-settings;

  padding-top: 66.66%;
}

@mixin aspect-ratio-settings {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin field-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--universal-space-half);
  align-items: center;
  width: 100%;
}

@mixin select {
  width: 100%;
  height: var(--input-height);
  padding: 0 var(--universal-space);
  color: var(--c-white);
  appearance: none;
  appearance: none;
  appearance: none;
  background: none;
  border: 1px solid var(--c-white);

  option {
    color: var(--c-white);
    background: var(--c-black);
  }

  &:hover, &:focus-visible, &:focus, &:active {
    cursor: pointer;
    background: rgb(255 255 255 / 4%);
    border: 1px solid var(--c-light-blue) !important;
  }
}

@mixin select-down-arrow {
  &::after {
    position: absolute;
    right: var(--universal-space);
    width: 24px;
    height: 24px;
    pointer-events: none;
    content: '';
    background: no-repeat center / contain url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=');
  }
}

@mixin input() {
  width: 100%;
  height: var(--input-height);
  padding: var(--universal-space);
  color: var(--c-white);
  background: none;
  border: 1px solid var(--c-white);
  transition: var(--transition);

  &:hover, &:focus-visible, &:focus, &:active {
    cursor: pointer;
    background: rgb(255 255 255 / 4%);
    border: 1px solid var(--c-light-blue) !important;
  }


  &[aria-invalid="true"] {
    background: rgb(255 0 0 / 4%);
    border-color: var(--c-error);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
}

@mixin group {
  display: grid;
  gap: var(--universal-space);
}

@mixin textarea {
  width: 100%;
  min-height: 150px;
  padding: var(--universal-space);
  color: var(--c-white);
  resize: vertical;
  background: none;
  border: 1px solid var(--c-white);

  &:hover, &:focus-visible, &:focus {
    cursor: pointer;
    background: rgb(255 255 255 / 4%);
    border: 1px solid var(--c-light-blue);
  }
}

@mixin label {
  display: block;
  margin: 0 0 var(--universal-space) 0;
}

@mixin hint {
  font-size: 14px;
  text-transform: capitalize;
}

@mixin label-hint {
  font-size: 14px;
  text-transform: capitalize;
}


