@mixin font-size($min-multiplier, $max-multiplier) {
  font-size: clamp(
    calc(var(--font-base-size) * #{$min-multiplier}),
    calc(1em + 1vw),
    calc(var(--font-base-size) * #{$max-multiplier})
  );
}

@mixin headline-settings {
  font-family: var(--font-family), serif;
  font-weight: var(--font-headline-weight);
  line-height: var(--font--headline-line-height);
  text-wrap: balance;
}

@mixin base-settings {
  font-family: var(--font-family), serif;
  // font-size: 18px;
  font-weight: var(--font-base-font-weight);
  line-height: var(--font--base-line-height);
}

@mixin super-size {
  @include font-size(1.8, 4);
}

@mixin headline-h1 {
  @include font-size(1.8, 3.5);
}

@mixin headline-h2 {
  @include font-size(1.7, 3);
}

@mixin headline-h3 {
  @include font-size(1.6, 2.5);
}

@mixin headline-h4 {
  @include font-size(1.4, 1.8);
}

@mixin headline-h5 {
  @include font-size(1.2, 1.4);
}

@mixin headline-h6 {
  @include font-size(1, 1.1);
}

@mixin font-large {
  @include font-size(1, 1.1);
}

@mixin font-small {
  @include font-size(0.8, 0.9);
}

@mixin font-xsmall {
  @include font-size(0.7, 0.8);
}

@mixin paragraph-settings {
  @include base-settings;
}

@mixin button-reset {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: 1;
  color: inherit;
  text-align: center;
  appearance: none;
  appearance: none;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none !important;
}
