:root {
  --border-radius: 15px;
  --font-base-size: 18px;
  --font-base-line-height: 1.6;
  --font-base-font-weight: 400;
  --font--family: "Michroma";
  --transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  --universal-space: 15px;
  --universal-space-2: calc(var(--universal-space) * 2);
  --universal-space-3: calc(var(--universal-space) * 3);
  --universal-space-4: calc(var(--universal-space) * 4);
  --universal-space-half: calc(var(--universal-space) / 2);
  --c-white: #ffffff;
  --c-black: #020000;
  --c-theme-primary: #FF00FF;
  --c-dark-blue: #000056;
  --c-light-blue: #0000FF;
  --c-error: #FF3B3B;
  box-sizing: border-box;
}
