@use '../settings/mixins' as mixin;

.accordion {
  &__header {
    width: 100%;
    margin: 0;
  }

  &__item {
    padding: var(--universal-space) 0;
    border-bottom: 1px solid var(--c-white);
  }

  &__icon {
    color: var(--c-theme-primary);
  }

  &__trigger {
    @include mixin.button-reset;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--universal-space-2) 0;
  }
  
}
