@use '../settings/mixins' as mixin;

.details {
  &__group {
    display: grid;
    gap: var(--universal-space);
  }

  &__field-wrapper {
    @include mixin.field-wrapper;
  }

  &__label {
    @include mixin.label;
  }

  &__label-hint {
    font-weight: 400;
  }

  &__input {
    @include mixin.input;
  }

  &__textarea {
    @include mixin.textarea;
  }

  &__hint {
    @include mixin.hint;

    margin: 0;
  }

  &__error {
    display: flex;
    gap: 6px;
    align-items: flex-start;
    margin: 0;
    font-size: 14px;
    color: var(--c-error);

    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      margin-top: 3px;
    }
  }
}
