@use '../settings/breakpoints' as breakpoint;


.dmn-widget {
  color: var(--c-white);

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--universal-space);

    @include breakpoint.medium-screen-min {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint.large-screen-min {
      grid-template-columns: 1fr 40%;
      gap: var(--universal-space-2);
    }

    @include breakpoint.x-large-screen-min {
      gap: var(--universal-space-4);
    }
  }

  &__main, &__side {
    overflow: hidden;
    color: var(--c-white);
    background-color: var(--c-black);
    border: 4px solid var(--c-theme-primary);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 var(--c-theme-primary) inset;
  }

  &__side {
    padding: var(--universal-space-2) var(--universal-space);

    @include breakpoint.medium-screen-min {
      padding: var(--universal-space-2);
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    padding: var(--universal-space);

    @include breakpoint.large-screen-min {
      padding: 0 var(--universal-space-2);
    }

  }

  &__side {
    position: sticky;

    // top: 132px;
    top: 30px;
    align-self: start;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--universal-space);
    padding: var(--universal-space-2) 0;
    margin: 0;
  }

  &__section {
    width: 100%;
    margin-bottom: var(--universal-space);

    &:last-of-type {
      @include breakpoint.medium-screen-min {
        margin-bottom: var(--universal-space-2);
      }
    }
  }

  &__error {
    span {
      color: var(--c-success);
    }
  }

}
