//@use '../settings/mixins';
@use '../settings/breakpoints' as breakpoint;


.dmn-widget {
  color: var(--c-white);

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--universal-space);
    @include breakpoint.medium-screen-min {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint.large-screen-min {
      grid-template-columns: 1fr 40%;
      gap: var(--universal-space-2);
    }
  }

  &__main, &__side {
    background-color: var(--c-black);
    color: var(--c-white);
    padding: var(--universal-space);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;

  }

  &__side {
    position: sticky;
    top: var(--universal-space);
    align-self: start;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--universal-space);
    padding: var(--universal-space-2) 0;
    margin: 0;
  }

  &__section {
    width: 100%;

    &:last-of-type {
      margin-bottom: var(--universal-space);
      @include breakpoint.medium-screen-min {
        margin-bottom: var(--universal-space-2);
      }
    }
  }
}
