@use '../settings/mixins' as mixin;

.MuiSnackbar-root {
  .MuiPaper-root {
    display: flex;
    gap: var(--universal-space-half);
    align-items: center;
    padding: var(--universal-space);
    font-size: 16px;
    color: var(--c-white);
    background-color: var(--c-black);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    &.MuiAlert-colorError {
      border: 4px solid var(--c-error);
      box-shadow: 0 0 10px 0 var(--c-error) inset;
    }

    &.MuiAlert-colorSuccess {
      border: 4px solid var(--c-success);
      box-shadow: 0 0 10px 0 var(--c-success) inset;
    }
  }
}
