@use '../settings/mixins' as mixin;
@use '../settings/breakpoints' as breakpoint;

.faqs {
  background-color: var(--c-black);
  color: var(--c-white);
  padding: var(--universal-space) var(--universal-space-2);
  border-radius: var(--border-radius);
  overflow: hidden;

  border: 4px solid var(--c-theme-primary);
  box-shadow: 0 0 10px 0 var(--c-theme-primary) inset;
  margin-top: var(--universal-space);
  @include breakpoint.large-screen-min {
    margin-top: var(--universal-space-2);
  }
  @include breakpoint.x-large-screen-min {
    margin-top: var(--universal-space-4);
  }


  &__title {
    padding: 0 var(--universal-space);
    
    @include breakpoint.large-screen-min {
      margin-bottom: var(--universal-space-2);
    }
    @include breakpoint.x-large-screen-min {
      margin-bottom: var(--universal-space-3);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--universal-space-2);
    gap: var(--universal-space-half);

  }

  .MuiButtonBase-root {
    @include mixin.button-reset;
    width: 100%;
    display: flex;
    align-items: center;
  }


  .MuiPaper-root {
    background: none;
    color: inherit;
    border-radius: 0;
    border-top: 1px solid var(--c-white);
    border-bottom: 1px solid var(--c-white);
    padding: var(--universal-space-2) var(--universal-space);

    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.04);
    }

    &.Mui-expanded {
      border-top: 1px solid var(--c-theme-primary);
      border-bottom: 1px solid var(--c-theme-primary);
    }

    h6 {
      margin: 0;
    }

    .MuiAccordionDetails-root > div {
      padding: var(--universal-space);
      text-align: left;
    }


  }
}
