@use '../settings/mixins' as mixin;
@use '../settings/breakpoints' as breakpoint;

.faqs {
  padding: var(--universal-space);
  margin-top: var(--universal-space);
  overflow: hidden;
  color: var(--c-white);
  background-color: var(--c-black);
  border: 4px solid var(--c-theme-primary);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px 0 var(--c-theme-primary) inset;

  @include breakpoint.medium-screen-min {
    padding: var(--universal-space) var(--universal-space-2);
  }

  @include breakpoint.large-screen-min {
    margin-top: var(--universal-space-2);
  }

  @include breakpoint.x-large-screen-min {
    margin-top: var(--universal-space-4);
  }


  &__title {
    padding: 0 var(--universal-space);

    // font-size: 24px;
    @include breakpoint.large-screen-min {
      margin-bottom: var(--universal-space-2);
    }

    @include breakpoint.x-large-screen-min {
      margin-bottom: var(--universal-space-3);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--universal-space-half);
    margin-bottom: var(--universal-space-2);

  }

  .MuiButtonBase-root {
    @include mixin.button-reset;

    display: flex;
    align-items: center;
    width: 100%;
  }


  .MuiPaper-root {
    padding: var(--universal-space-2) var(--universal-space);
    color: inherit;
    background: none;
    border-top: 1px solid var(--c-white);
    border-bottom: 1px solid var(--c-white);
    border-radius: 0;

    &:hover {
      cursor: pointer;
      background: rgb(255 255 255 / 4%);
    }

    &.Mui-expanded {
      border-top: 1px solid var(--c-theme-primary);
      border-bottom: 1px solid var(--c-theme-primary);
    }

    h6 {
      margin: 0;
    }

    .MuiAccordionDetails-root > div {
      padding: var(--universal-space);
      text-align: left;
    }


  }
}
