@use '../settings/mixins' as mixin;

.loading-animation {
  width: 100%;

  &__text {
    margin: 0 0 var(--universal-space-half) 0;
  }

  &--required {
    p {
      opacity: 0.5;
    }
  }

  &--loading {
    color: var(--c-theme-primary);
  }
}
