@import '../settings/mixins';


.package-grid {
  display: grid;
  gap: var(--universal-space-2);
}


.package-card {
  display: grid;
  grid-template-columns: 35% 1fr;
  max-width: 100%;
  margin-right: -5px;
  margin-left: -5px;
  overflow: hidden;
  color: var(--c-black);
  text-align: left;
  background: var(--c-white);
  border: 5px solid var(--c-black);


  &__image-wrapper {
    @include aspect-ratio-1-1;
  }

  &__article {
    padding: var(--universal-space);
  }

  &__name {
    margin-top: 0;
    font-weight: bold;
    color: inherit;
  }

  &__description p {
    color: inherit;
  }

  &__price {
    margin: 0;
    color: inherit;
  }

  &__checkbox {
    display: none;
  }


  &__article-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--universal-space);
    margin-top: var(--universal-space);
    border-top: 1px solid var(--c-off-black);
  }

  &__button {
    @include button-reset;

    min-width: 120px;
    padding: var(--universal-space) var(--universal-space-2);
    color: var(--c-white);
    background: var(--c-black);
    box-shadow: var(--box-shadow-1);

    &:hover {
      cursor: pointer;
      background: var(--c-theme-primary);
    }
  }

  &:hover {
    cursor: pointer;
    border-color: var(--c-off-black);
  }

  &.is-selected {
    border-color: var(--c-theme-primary);

    .package-card__button {
      background: var(--c-theme-primary);
    }
  }
}
