@use '../settings/mixins' as mixin;
@use '../settings/breakpoints' as breakpoint;


.party-size {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--universal-space);
  @include breakpoint.medium-screen-min {
    gap: var(--universal-space-2);
  }

  &__group-link {
    &:hover {
      color: var(--c-theme-primary);
    }
  }


  &__group {
    display: flex;
    align-items: center;
    gap: var(--universal-space);
    @include breakpoint.medium-screen-min {
      justify-content: flex-end;
    }
  }

  &__decrement,
  &__increment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--universal-space);
    border: 1px solid var(--c-white);
    background: var(--c-theme-primary);
    color: var(--c-white);
    cursor: pointer;
    user-select: none;
    transition: var(--transition);
    height: 50px;
    width: 50px;

    &:hover {
      background: var(--c-white);
      color: var(--c-black);
    }
  }

  &__input {
    @include mixin.input;
    max-width: 5rem;
    flex: 1;
    text-align: center;
  }
}
