@use '../settings/mixins' as mixin;
@use '../settings/breakpoints' as breakpoint;


.party-size {
  display: flex;
  flex-wrap: wrap;
  gap: var(--universal-space);
  align-items: center;
  width: 100%;

  @include breakpoint.medium-screen-min {
    flex-wrap: nowrap;
    gap: var(--universal-space-2);
  }

  &__group-link {
    color: var(--c-success);
    text-decoration: none;

    &:hover {
      color: var(--c-theme-primary);
      text-decoration: underline;
    }
  }


  &__group {
    display: flex;
    gap: var(--universal-space);
    align-items: center;

    @include breakpoint.medium-screen-min {
      justify-content: flex-end;
    }
  }

  &__decrement,
  &__increment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--c-white);
    cursor: pointer;
    user-select: none;
    background: var(--c-theme-primary);
    border: 1px solid var(--c-white);
    transition: var(--transition);

    &:hover {
      color: var(--c-black);
      background: var(--c-white);
    }
  }

  &__input {
    @include mixin.input;

    flex: 1;
    max-width: 5rem;
    text-align: center;
  }
}
