@use '../settings/breakpoints' as breakpoint;

.progress-bar {
  display: grid;
  gap: var(--universal-space);

  &__bar {
    height: var(--universal-space);
    background: var(--c-off-black);
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  &__fill {
    height: 100%;
    width: 0;
    background: var(--c-success);
    transition: var(--transition);
  }

  &__text {
    font-size: 16px;
    text-align: center;
  }
}


.dmn-widget > .progress-bar {
  position: sticky;
  z-index: 2;
  top: 5px;
  margin-right: var(--universal-space);
  margin-left: var(--universal-space);
  margin-bottom: var(--universal-space-2);
  

  .progress-bar__text {
    display: none;
  }

  @include breakpoint.medium-screen-min {
    display: none;
  }
}
