@import '../settings/mixins';

/* ============ Container ============ */
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--universal-space);
}

/* ============ Item label ============ */
.radio {
  position: relative;
  width: 100%;
  color: var(--c-white);
  border-radius: 12px;
  transition: var(--transition);

  &:hover {
    background: rgb(255 255 255 / 4%);
  }

  &:active {
    transform: translateY(1px);
  }

  &__radio {
    @include button-reset;

    position: relative;
    display: flex;
    gap: var(--universal-space);
    align-items: center;
    width: 100%;
    cursor: pointer;
    background: transparent;
    transition: var(--transition);

    &[aria-disabled='true'],
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.6;
    }

    /* Focus ring */
    &:focus-visible {
      outline: 0;

      .type-card {
        border-color: var(--c-theme-primary);

        .type-card__button {
          background: var(--c-theme-primary);
        }
      }
    }

    /* ---------- Active / Roving focus ---------- */
    &[data-composite-item-active] {
      .type-card {
        border-color: var(--c-theme-primary);

        .type-card__button {
          background: var(--c-theme-primary);
        }
      }
    }

    /* ---------- Checked (selected) ---------- */
    &[data-state='checked'] {
      .type-card {
        border-color: var(--c-theme-primary);

        .type-card__button {
          background: var(--c-theme-primary);
        }
      }
    }
  }
}
