@use '../settings/mixins' as mixin;

.review {
  &__list, &__price, &__row, &__addons {
    display: grid;
    gap: var(--universal-space);

    strong {
      color: var(--c-theme-primary);
    }
  }

  &__heading {
    font-size: 18px;
  }


  &__list {
    gap: var(--universal-space-2);
    margin-bottom: var(--universal-space-3);

    > li, span {
      display: flex;
      flex-wrap: wrap;
      gap: var(--universal-space-half);
      align-items: center;
    }

  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--universal-space);

    &--subtotal {
      margin-top: var(--universal-space);
    }

    &--total {
      margin: 0;
    }
  }

  &__addons {
    margin: var(--universal-space) 0;
  }

  &__button {
    @include mixin.button-settings;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--universal-space-2);
  }
}
