@use '../settings/mixins' as mixin;

.time {
  width: 100%;

  &__label {
    @include mixin.label;
  }

  &__hint {
    @include mixin.hint;
  }

  &__radio-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  &__radio-label {
    border: 1px solid var(--c-white);
    padding: 0 var(--universal-space);
    height: var(--input-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: var(--universal-space-half);


    &:hover, &:focus-visible, &:focus, &:active {
      background: rgba(255, 255, 255, .04);
      border: 1px solid var(--c-light-blue) !important;
      cursor: pointer;
    }


    span:first-child {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      border-radius: 0;

      > span {
        display: none;
      }

      &.Mui-checked {
        background: var(--c-theme-primary);
        color: var(--c-black);
        border-color: var(--c-theme-primary);
      }
    }

    span:last-child {
      z-index: 1;
      position: relative;
    }
  }

}
