@import '../settings/mixins';

p {
  margin: var(--universal-space) 0;
  @include base-settings;

  a {
    text-decoration: underline;

    &:hover {
      color: var(--c-theme-primary);
    }
  }
}

h1,
.h1 {
  @include headline-h1;
}

h2,
.h2 {
  @include headline-h2;
}

h3,
.h3 {
  @include headline-h3;
}

h4,
.h4 {
  @include headline-h4;
}

h5,
.h5 {
  @include headline-h5;
}

h6,
.h6 {
  @include headline-h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headline-settings;
  margin: var(--universal-space-2) 0 var(--universal-space) 0;
}
