@import '../settings/mixins';

p {
  margin: var(--universal-space) 0;

  a {
    text-decoration: underline;

    &:hover {
      color: var(--c-theme-primary);
    }
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  // @include headline-settings;
  margin: var(--universal-space-2) 0 var(--universal-space) 0;
}
