@import '../settings/mixins';

.type-card {
  width: 100%;
  overflow: hidden;
  color: var(--c-black);
  text-align: left;
  background: var(--c-white);
  border: 5px solid var(--c-black);

  &__image-wrapper {
    @include aspect-ratio-16-9;
  }

  &__article {
    padding: var(--universal-space);
  }

  &__name {
    margin-top: var(--universal-space);
    font-weight: bold;
    color: inherit;
  }

  &__description {
    color: inherit;
  }


  &__price {
    margin: 0;
    color: inherit;
  }

  &__article-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--universal-space-2) 0 var(--universal-space) 0;
    margin-top: var(--universal-space);
    border-top: 1px solid var(--c-off-black);
  }

  &__button {
    @include button-reset;

    padding: var(--universal-space) var(--universal-space-2);
    color: var(--c-white);
    background: var(--c-black);
    box-shadow: var(--box-shadow-1);

    &:hover {
      background: var(--c-theme-primary);
    }
  }
}

.type__extra-text {
  margin-top: var(--universal-space-2);

  a {
    color: var(--c-success);
    text-decoration: none;

    &:hover {
      color: var(--c-theme-primary);
      text-decoration: underline;
    }
  }
}
