@use '../settings/mixins' as mixin;

p {
  margin: 0 0 var(--universal-space);

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: var(--c-purple);
  text-decoration: underline;

  &:hover {
    text-decoration-thickness: 2px;
  }

  &:focus-visible {
    @include mixin.focus-ring;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--universal-space);
  font-weight: 600;
  line-height: 1.3;
  color: var(--c-near-black);
}

strong {
  font-weight: 600;
}

.screen-reader-text {
  @include mixin.visually-hidden;
}
