@import "../settings/mixins";

.type-card {
  width: 100%;
  overflow: hidden;
  text-align: left;
  border: 2px solid var(--c-dark-blue);

  &__image-wrapper {
    @include aspect-ratio-16-9;
  }

  &__article {
    background-color: var(--c-white);
    color: var(--c-black);
    padding: var(--universal-space);
  }

  &__name {
    margin-top: var(--universal-space);
    font-weight: bold;
  }

  &__price {
    margin: 0;
  }

  &__article-footer {
    padding: var(--universal-space-2) 0 var(--universal-space) 0;
    margin-top: var(--universal-space);
    border-top: 1px solid var(--c-off-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    @include button-reset;
    padding: var(--universal-space) var(--universal-space-2);
    background: var(--c-black);
    color: var(--c-white);
    box-shadow: var(--box-shadow-1);

    &:hover {
      background: var(--c-theme-primary);
    }
  }

}
