@import '../settings/mixins';

.type-card {
  width: 100%;
  overflow: hidden;
  text-align: left;
  border: 5px solid var(--c-black);
  background: var(--c-white);
  color: var(--c-black);

  &__image-wrapper {
    @include aspect-ratio-16-9;
  }

  &__article {
    padding: var(--universal-space);
  }

  &__name {
    margin-top: var(--universal-space);
    font-weight: bold;
    color: inherit;
  }

  &__description {
    color: inherit;
  }


  &__price {
    margin: 0;
    color: inherit;
  }

  &__article-footer {
    padding: var(--universal-space-2) 0 var(--universal-space) 0;
    margin-top: var(--universal-space);
    border-top: 1px solid var(--c-off-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    @include button-reset;
    padding: var(--universal-space) var(--universal-space-2);
    background: var(--c-black);
    color: var(--c-white);
    box-shadow: var(--box-shadow-1);

    &:hover {
      background: var(--c-theme-primary);
    }
  }
}
