@use '../settings/mixins' as mixin;


.venues {
  &__label {
    @include mixin.label;
  }

  &__select-wrapper {
    @include mixin.field-wrapper;
    @include mixin.select-down-arrow;
  }

  &__select {
    @include mixin.select;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__external-message {
    margin-top: var(--universal-space);
    font-size: 0.9em;
    line-height: 1.5;

    a {
      color: var(--c-theme-primary);
      text-decoration: underline;
    }
  }
}

