@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import '../../styles/variables';


.dmn-widget-root {
  @import "css-reset-and-normalize/scss/reset-and-normalize";
  font-size: var(--font-base-size);

  :where(*, *::before, *::after) {
    font-size: inherit;
  }

  * {
    box-sizing: border-box;
  }


  @import "components/accordion";
  @import "components/calendar";
  @import "components/radio";
  @import "components/select";
  @import "components/steps";
  @import "components/timepicker";
  @import "components/typography";
  @import "components/widget";

}

