
.dmn-widget-root {
  @import 'css-reset-and-normalize/scss/reset-and-normalize';

  width: 100%;
  max-width: 100%;
  font-size: 16px;

  --border-radius: 15px;
  --transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  --universal-space: 15px;
  --input-height: 60px;
  --universal-space-2: calc(var(--universal-space) * 2);
  --universal-space-3: calc(var(--universal-space) * 3);
  --universal-space-4: calc(var(--universal-space) * 4);
  --universal-space-half: calc(var(--universal-space) / 2);
  --c-white: #fff;
  --c-black: #000;
  --c-theme-primary: #f0f;
  --c-off-black: #2a2a2a;
  --c-dark-blue: #000056;
  --c-light-blue: #00f;
  --c-error: #F00;
  --c-success: #0F0;

  :where(*, *::before, *::after) {
    font-size: inherit;
  }

  * {
    box-sizing: border-box;
  }

  @import 'components/accordion';
  @import 'components/date';
  @import 'components/details';
  @import 'components/error-message';
  @import 'components/faqs';
  @import 'components/loading-animation';
  @import 'components/package-card';
  @import 'components/party-size';
  @import 'components/progress-bar';
  @import 'components/radio';
  @import 'components/review';
  @import 'components/venues';
  @import 'components/steps';
  @import 'components/time';
  @import 'components/type-card';
  @import 'components/typography';
  @import 'components/dmn-widget';
}
