:root {
  --box-shadow-1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; /* Original */
  --box-shadow-2: rgba(50, 50, 93, 0.30) 0px 4px 8px -2px, rgba(0, 0, 0, 0.35) 0px 2px 4px -2px;
  --box-shadow-3: rgba(50, 50, 93, 0.35) 0px 8px 16px -3px, rgba(0, 0, 0, 0.4) 0px 4px 6px -3px;
  --border-radius: 15px;
  --font-base-size: 18px;
  --font-base-line-height: 1.6;
  --font-base-font-weight: 400;
  --font--family: "Michroma";
  --transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  --universal-space: 15px;
  --universal-space-2: calc(var(--universal-space) * 2);
  --universal-space-3: calc(var(--universal-space) * 3);
  --universal-space-4: calc(var(--universal-space) * 4);
  --universal-space-half: calc(var(--universal-space) / 2);
  --c-white: #ffffff;
  --c-off-black: #1D2327;
  --c-black: #000000;
  --c-blue: #2271B1;
  --c-green: #3e942c;
  --c-off-white: #bdbdbd;
  --c-red: #b02929;
}


.dmn-admin {
  @import './components/buttons';
  @import './components/dmn-admin';
  @import './components/forms';
  @import './components/table';
}
